<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registrar</h1>
    <form method="POST" action="/register">
        <input type='text' name='name' placeholder="Nome">
        <input type='email' name='email' placeholder="Email">
        <input type='password' name='password' placeholder="Senha">
        <input type="submit" value="send">
    </form>

    <a href="/login">login</a>
</body>
</html>